/* start about styles */ 

#about {
    overflow: visible;
    z-index: 1;
    //padding-bottom: 95px;
    //opacity: 0.4;

    h2 {
        margin-bottom: 20px;
        z-index: 5;
    }

    .text {
        margin-left: 50%;
        min-height: 543px;
        padding: 46px 0 50px 145px;
    }

    .image {
        position: absolute;
        width: 100%;
        left: 0;
        top: -143px;
        //bottom: 0;
        //z-index: 1;

        img {
            width: 100%;
        }
    }
    .in {
        z-index: 2;
    }
    .tabs_container {
        margin-bottom: 0px;
    }
    .tab_buttons {
        position: relative;
        z-index: 2;
    }
}

#about_page {
    //#about {
        //opacity: 0.5;
        // .image {
        //     //opacity: 0.5;
        //     //top: -90px;
        // }  
        
        // .text {
        //     //padding-top: 30px;
        //     //min-height: 648px;
        // }
    //}
    .text_block {
        .text {
            padding-bottom: 15px;
        }
    }
    .text_block.right_img {
        .text {
            padding-top: 70px;
            padding-bottom: 90px;
        }

        .image {
            top: 15px;
        }

        .button {
            margin-top: 50px;
            font-size: 20px;
        }
    }

    .tabs_container + .buttons {
        margin-bottom: 20px;
    }

    .text_image + .text_block {
        .in {
            padding-top: 113px;
        }
    }
}






@media screen and (max-width: 1700px) {
    #about {
        .image {
            top: -100px;
        }
        
        .text {
            min-height: 443px;
        }
    }
}
@media screen and (max-width: 1500px) {
    #about {
        .image {
            top: -50px;
        }
        .text {
            padding-left: 100px;
        }
    }
}
@media screen and (max-width: 1300px) {
    #about {
        .image {
            top: 0px;
        }
        .text {
            min-height: auto;
            padding-left: 50px;
        }
    }
}

@media screen and (max-width: 1100px) {
    #about {
        .image {
            top: 50px;
        }
    }
}
@media screen and (max-width: 1100px) {
    #about {
        .image {
            left:-8%;
            width: 50%;
            overflow: hidden;
            top: 0px;

            img {
                width: 185%;
            }
        }
        .text {
            padding-left: 0px;
            margin-left: 43%;
        }
    }
}
@media screen and (max-width: 900px) {
    #about {
        .image {
            top: 50px;
        }
        .text {
            padding-bottom: 40px;
        }
    }
}

@media screen and (max-width: 800px) {
   
}
@media screen and (max-width: 600px) {
    #about {
        .image {
            display: none;
        }
        .text {
            margin-left: 0;
            padding-bottom: 0px;
            padding-top: 10px;
        }

        .button {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (max-width: 450px) {
    
}

/* end about styles */