/* start advantages styles */ 

#advantages {
    overflow: visible;
    z-index: 2;

    padding-bottom: 95px;

    h2 {
        margin-bottom: 20px;
    }

    h2+p {
        text-align: center;
        max-width: 1300px;
        margin: 0 auto 8px;
    }
}

.our_work {
    background: url(images/bg_our_work.jpg) center top no-repeat;
    padding-bottom: 219px;
    padding-top: 53px;
    //opacity: 0.5;
}

.our_work_slider {
    margin: 0 -70px;
    padding: 0 70px;

    .slick-list {
        margin: 0 -15px;
    }

    .slick-arrow {
        opacity: 1;
        border: 0;
        
        &:before {
            opacity: 1;
            left: 11px;
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 2;
            width: 30px;
            height: 0px;
            top: 23px;
            left: 11px;
            border-top: 3px solid #333333;
            @include transition(all);
        }

        &.slick-next {
            &:before {
                left: 23px;
            }
        }
        
        &:hover {
            background: none;
          &:before {
            border-color: $color_a;
           }
           &:after {
            border-color: $color_a;
           }
        }
    }

    .step {
        margin: 0 15px;
        background: linear-gradient(122.91deg, #CEA822 0%, #FCFF70 100%);
        box-shadow: 0px 10px 30px rgba(1, 18, 5, 0.2);
        border-radius: 5px;
        padding: 3px;

        a {
            display: block;
            border-radius: 5px;
            background-color: #fff;
            padding: 40px 40px 15px;
            text-decoration: none;
            color: $color_text;
            @include transition(all);

            &:hover {
                background-color: transparent;
                color: #fff;

                .num {
                    background: #fff;
                    color: #CEA822;
                }
            }
        }

        .num {
            width: 50px;
            height: 50px;
            background: linear-gradient(90deg, #01D4AD 0%, #B8FF1E 100%);
            border-radius: 30px;
            color: #ffffff;
            font-size: 30px;
            line-height: 55px;
            //vertical-align: middle;
            font-weight: 800;
            display: block;
            text-align: center;
            margin-bottom: 10px;
            @include transition_slow(all);
        }

        .h3 {
            display: block;
            min-height: 90px;
            margin-bottom: 0;
            line-break: 26px;
        }
    }

}

.advantages {
    margin-bottom: 46px;

    .slick-list {
        padding: 14px 0;
        margin: 0 -14px;
    }

    

    .item {
        position: relative;
        padding: 12px 22px;
        margin: 0 14px;
        width: calc(25% - 32px);
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;

        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 100%;
            background: linear-gradient(90.28deg, #1492C8 0%, #77F7FF 100%);
            left: 0;
            top: 0;
            border-radius: 5px;
        }

        &:nth-child(5n+1)::before {
            background: linear-gradient(90.28deg, #008D74 0%, #5BEDA7 100%);
        }
        &:nth-child(5n+2)::before {
            background: linear-gradient(90.28deg, #CEA822 0%, #FCFF70 100%);
        }
        &:nth-child(5n+3)::before {
            background: linear-gradient(90.28deg, #01D4AD 0%, #B8FF1E 100%);
        }
        &:nth-child(5n+4)::before {
            background: linear-gradient(90.28deg, #1492C8 0%, #77F7FF 100%);
        }
        &:nth-child(5n+5)::before {
            background: linear-gradient(90.28deg, #04AF00 0%, #E4FF3F 100%);
        }
        

        .h3 {
            
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 0;
            line-height: 24px;
            min-height: 75px;
        }
    }

}

#services_page {
    .advantages {
        margin: 0px -14px 90px;
        padding-top: 30px;

        .item {
            padding: 12px 25px;

            .h3 {
                margin-bottom: 13px;
                display: block;
            }

            &:nth-child(5n+1)::before {
                background: linear-gradient(90.28deg, #1492C8 0%, #77F7FF 100%);
            }
            &:nth-child(5n+2)::before {
                background: linear-gradient(90.28deg, #04AF00 0%, #E4FF3F 100%);
            }
            &:nth-child(5n+3)::before {
                background: linear-gradient(90.28deg, #008D74 0%, #5BEDA7 100%);
            }
            &:nth-child(5n+4)::before {
                background: linear-gradient(90.28deg, #CEA822 0%, #FCFF70 100%);
            }
            &:nth-child(5n+5)::before {
                background: linear-gradient(90.28deg, #01D4AD 0%, #B8FF1E 100%);
            }
        }
    }

    .projects.slider + .buttons {
        margin-bottom: 45px;
    }
    
}


@media screen and (max-width: 1600px) {
    
}
@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 800px) {
   
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end advantages styles */