/* start content styles */
main {
    position: relative;
    //z-index: 3;
    .in {
        padding-bottom: 10px;
        position: relative;
        z-index: 2;

        &::after {
            @include clear();
        }
    }

    p {
        margin-bottom: 10px;
    }

    
}


.right_img, .left_img {
    .image {
        position: absolute;
        width: 100%;
        left: 0;
        top: -85px;
        //opacity: 0.5;

        img {
            width: 100%;
        }
    }

    .text {
        margin-right: 51%;
        padding-bottom: 150px;
        //min-height: 525px;
    }
    .advantages_list {
        margin-right: -52%;
    }

    .button {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &.no-text {
        .in {
            padding-top: 92px;
        }

        .text {
            min-height: 140px;
        }

        .button {
            font-size: 14px;
            margin-top: 0;
        }

    }

}

.left_img {
    .text {
        margin-right: auto;
        margin-left: 40%;
    }
}

.text {
    .left, .right {
        max-width: 50%;
        clear: both;

        img {
            max-width: 100%;
        }
    }

    .left {
        float: left;
        margin: 0 30px 100px 0;
    }
    .right {
        float: right;
        margin: 0 0 100px 30px;
    }

    h2 {
        clear: both;
    }

    .right + p, .left + p {
        padding-top: 50px;
    }
}

ul.advantages_list {
    padding-top: 18px;
    margin-bottom: 33px;
    li {
        display: inline-block;
        vertical-align: middle;
        font-size: 28px;
        line-height: 30px;
        font-weight: 800;
        font-family: $font_family_h;
        padding: 15px 0 15px 25px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 21px;

        &:nth-child(3n+1) {
            width: 28.2%;
        }
        &:nth-child(3n+2) {
            width: 42%;
        }

        &::before {
            height: 100%;
            width: 5px;
            //background: linear-gradient(90.66deg, #01D4AD 0%, #B8FF1E 100%);
            border-radius: 5px;
            transform: rotate(0deg);
            top: 0;;
        }

        &:nth-child(6n+1)::before {
            background: linear-gradient(90.66deg, #1492C8 0%, #77F7FF 100%);
        }
        &:nth-child(6n+2)::before {
            background: linear-gradient(90.66deg, #04AF00 0%, #E4FF3F 100%);
        }
        &:nth-child(6n+3)::before {
            background: linear-gradient(90.66deg, #008D74 0%, #5BEDA7 100%);
        }
        &:nth-child(6n+4)::before {
            background: linear-gradient(90.66deg, #CEA822 0%, #FCFF70 100%);
        }
        &:nth-child(6n+5)::before {
            background: linear-gradient(90.66deg, #01D4AD 0%, #B8FF1E 100%);
        }
        &:nth-child(6n+6)::before {
            background: linear-gradient(90.66deg, #0A9EBE 0%, #63FDC6 100%);
        }
    }
}

.cont {
    position: relative;
    padding-left: 32px;
    background: left 0px no-repeat;
    font-size: 20px;
    line-height: 27px;
    font-weight: 500;
    margin-bottom: 31px;

    a {
        color: $color_text;
    }
}

.tel {
    background-image: url(images/icon_tel_red.png);
}
    
.address {
    background-image: url(images/icon_address_red.png);
    margin-top: -7px;
    padding-top: 5px;
}
.mail {
    background-image: url(images/icon_mail_red.png);
    background-position: 2px 4px;
}

.social {
    padding-top: 12px;
    margin-bottom: 30px;
    a {
        position: relative;
        display: inline-block;
        margin: 0 26px 0 0;

        img {
            position: relative;
            -webkit-transition: opacity 0.3s ease 0s;
            -moz-transition: opacity 0.3s ease 0s;
            -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
            opacity: 1;
        }

        &:hover {
            img {
                opacity: 0.73;
            }
        }
    }
}

#map {
    position: relative;
    z-index: 2;
    width: 1030/1530*100%;
    max-width: 1010px;
    height: 440px;
    margin: 29px 0 30px 0px;
    padding: 3px;
	border-radius: 5px;
    //padding-top: 47px;
    float: right;
    background: linear-gradient(101deg, #018e74 0%, #5beda7 100%);
    overflow: hidden;
    box-sizing: border-box;

	&::before {
		content: '';
		position: absolute;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #fff;
		border-radius: 5px;
		top: 3px;
		left: 3px;
    }
    >div {
        width: 100%;
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: 0;
    }

    img {
        width: calc(100% - 0px);
        position: relative;
        z-index: 2;
        border-radius: 5px;
        display: block;
    }
}

#contacts_page .text {
    padding-top: 95px;
    float: left;
    max-width: 360px;
    padding-bottom: 60px;
    width: 30%;
}

.galery {
    .slick-list {
        margin: 0 -15px;
    }
    .item {
        margin: 0 15px;
        height: 360px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}


.images_slider {
	float: left;
	width: calc(50% - 15px);
	position: relative;
	//padding-top: 130px;
	margin-bottom: 60px;
	
	
	.main_img {
	    height: 545px;
	    overflow: hidden;
	    border-radius: 5px;
	    //float: right;
        width: 100%;
        margin: 0 0 30px;
        padding: 0;

	    div {
            height: 100% !important;
        }
	    
	    .slick-list {
            margin: 0px;
            position: relative;
            width: 100%;
            height:  100%;
        }
        .slick-arrow {
            border: 2px solid #fff;

            &::before {
                border-top-color: #fff;
                border-left-color: #fff;
            }
        }
	    
	    .slide {
		    height: 100%;
		    width: 100%;
	    }
	    
	    a {
            display: block;
            width: 100%;
            height: 100%;
            //cursor: crosshair;
	    }
	    
	    img {
            width: 100%;
            height: 100%;
            object-fit: cover;
	    }
	    
	}
	.small_images {
        position: relative;
        margin: 0;
        padding: 0;
        height: 180px;
	    
	    .slick-list {
            margin: 0 -15px;
            height: 100%;
        }
        
        .slick-arrow {
            margin-top: -15px;
            width: 30px;
            height: 30px;
            border: 2px solid #fff;

            &::before {
                border-top: 2px solid #fff;
                border-left: 2px solid #fff;
                width: 7px;
                height: 7px;
                top: 9px;
                left: 10px;
            }
        }

        .slick-prev {
            left: 20px;
        }
        .slick-next {
            right: 20px;
            &::before {
                left: 7px;
            }
        }
	}
	
	.img_small {
	    //width: 140px;
	    height: 180px;
	    overflow: hidden;
	    margin: 0px 15px;
	    cursor: pointer;
        //opacity: 0.5;
        border-radius: 5px;
	    @include transition_slow(opacity);
        text-align:  center;
        box-sizing: border-box;
	    
	    //&:hover {
		//opacity: 1;
	    //}
	    
	    //&.slick-current {
		//opacity: 1;
		//border: 1px solid #eee;
	    //}
	    
	    
	    img {
            width: 100%;
            height: 100%; 
            object-fit: cover;
            vertical-align: bottom;
	    }
	}
}
#product_item .images_slider {
    .main_img img {
        object-fit: contain;
        vertical-align: middle;
    }
}

.basket_table {
    overflow: auto;
    margin-bottom: 30px;

    table {
        border-left: 1px solid #EEF3F4;
        min-width: 99.5%;
    }

    th {
        background-color: #EEF3F4;
        font-size: 20px;
        height: 80px;
        padding: 20px;
    }
    td {
        padding: 25px 20px;
        text-align: center;
        border-right: 1px solid #EEF3F4;
        border-bottom: 1px solid #EEF3F4;
        
        &:nth-child(2) {
            text-align: left;
        }
    }

    a {
        color: $color_text;
    }

    .img {
        a {
            display: inline-block;
            width: 128px;
            height: 100px;
            line-height: 100px;
            border: 1px solid #DFEDEE;
            box-sizing: border-box;
            border-radius: 5px;
            text-align: center;

            img {
                max-width: 99%;
                max-height: 99%;
                object-fit: contain;
                vertical-align: middle;
            }
        }
    }

    p {
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
    }
    .delete {
        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .number {
        input {
            width: 135px;
            height: 35px;
            background: #FFFFFF;
            border: 1px solid #D5E3E4;
            box-sizing: border-box;
            border-radius: 3px;
            text-align: center;
            //padding-right: 20px;
            font-family: $font_family_os;
            font-size: 16px;
            line-height: 22px;
        }

        .main_number_plugin {
            margin: 0 auto;
        }

        .classic .plus_plugin_number {
            border-bottom-color: #00B487;
        }

        .classic .minus_plugin_number {
            border-top-color: #00B487;
        }
    }
}

#contacts_page {
    main {
        background: url(images/bg_contacts_page.jpg) no-repeat center center / 100% 110%;
    }
}
@media screen and (max-width: 1000px) {
    #contacts_page main {
      background-position: right bottom;
      background-size: 100% auto;
    }
  }

#news_page {
    main{
        .text {
            min-height: 205px;
        }

    }
}

#projects_page {
    main{
        .in {
            padding-top: 47px;
        }

        h1 {
            margin-bottom: 15px;
        }

        .text {
            min-height: 291px;
        }

        .button {
            margin-top: 45px;
        }

    }
    
    .text_block {
		.in {
            padding-top: 25px;
            padding-bottom: 10px;
		}
    }  
    #main_form2 {
        padding-top: 50px;
    } 
}

#why_are_we {
    main{
        .in {
            padding-top: 47px;
        }

        h1 {
            margin-bottom: 15px;
        }

        .text {
            margin-right: 44%;
            min-height: 432px;
        }

        .button {
            margin-top: 48px;
        }

    }

    .text_block.right_img {
        .image {
            top: 63px;
        }

        .in {
            padding-top: 97px;
        }

        .text {
            padding-top: 70px;
            min-height: 440px;
        }

        h3 {
            margin-top: 27px;
        }
    }

    .text_block {
        .production {
            padding-top: 17px;
            margin-bottom: 30px;

            .item {
                height: 380px;
            }
        }

        .text {
            margin-bottom: 4px;
        }
    }

    #projects {
        padding-bottom: 11px;
        .in {
            padding-top: 82px;
        }

        .projects {
            margin-bottom: 64px;
        }
        .projects + .buttons {
            margin-bottom: 81px;
        }
    }
    .download {
        margin-top: 23px;
    }
    .tabs_container {
        margin-top: 23px;
    }
}

.date_selection {
    margin-bottom: 27px;
    //margin-top: -4px;
    
    strong {
        font-size: 20px;
        line-height: 27px;
        font-weight: 800;
        margin-right: 12px;
        font-family: $font_family_os;
        display: inline-block;
        vertical-align: middle;
    }
}



.text_block {
    .in {
        //padding-top: 75px; в каталоге большой отступ делает
        padding-bottom: 10px;
    }
}

#services_page {
    main{

        h1 {
            margin-right: 60%;
        }

        .all_link + .h1 {
            margin-bottom: 0px;
        }
    }

    .text_image.right_img, .text_image.left_img {
        .image {
            margin-top: -400px;
            height: 750px;
            line-height: 750px;
        }
        .text {
            padding-top: 5px;
            padding-bottom: 87px;
        }

        h3 {
            margin-bottom: 20px;
        }

        .button {
            margin-top: 50px;
        }
    
    }

    #standards {
        .in {
            padding-top: 55px;
            margin-bottom: 87px;
        }

        .text {
            padding-top: 75px;
        }
    }

    #main_form2 + .text_block {
        .in {
            padding-top: 85px;
        }
    }
}

.text_image.right_img, .text_image.left_img {
        overflow: visible;
        .image {
            width: 50%;
            height: 700px;
            line-height: 700px;
            top: 50%;
            margin-top: -300px;

            img {
                max-width: 87%;
                width: auto;
                vertical-align: middle;
            } 
        }
        .in {
            padding-top: 65px;
            padding-bottom: 10px;
        }

        .text {
            padding-top: 66px;
            padding-bottom: 20px;
            min-height: 300px;
        }

        .all_link {
            float: none;
            display: inline-block;
            margin-bottom: 50px;
        }
        h3 {
            font-size: 25px;
            margin-bottom: 30px;
        }
        ul {
            margin-bottom: 30px;
        }
        .button {
            margin-top: 30px;
        }
}
    
    .text_image.right_img {
        .image {
            text-align: right;
            left: auto;
            right: 0;
        }

        .text {
            margin-right: 42%;
            //min-height: 445px;
        }
    }

    .text_image.left_img {
        .image {
            text-align: left;
        }

        .text {
            margin-left: 42.5%;
            //min-height: 445px;
        }
    }

#standards.text_block.right_img {
    .image {
        top: 90px;
    }

    .in {
        padding-top: 80px;
    }

    .text {
        padding-top: 79px;
        margin-right: 39%;
    }
}


#directions_in {
    main {
        .in {
            padding-top: 60px;
        }

        .button {
            margin-top: 50px;
        }
    }
}



@media screen and (max-width: 1600px) {	
    .images_slider {
        .main_img {
            height: 445px;
            margin-bottom: 20px;
        }
        .small_images {
            height: 120px;
            .slick-list {
                margin: 0 -10px;
            }
            .slick-prev {
                left: 5px;
            }
            .slick-next {
                right: 5px;
            }
            .img_small {
                height: 120px;
                margin: 0px 10px;
            }
        }
    }
    ul.advantages_list {
        margin-bottom: 10px;
        columns: 2;
        li {
            font-size: 25px;
            line-height: 30px;
            padding: 15px 25px;

            &:nth-child(3n+1), &:nth-child(3n+2), &:nth-child(3n+3) {
                width: auto;
            }
        }
    }

    .right_img, .left_img {
        .image {
            top: -50px;
        }
        .text {
            padding-bottom: 50px;
        }
        .advantages_list {
            margin-right: -30%;
        }
    }
    .text_image.right_img, .text_image.left_img {
        .text {
            min-height: auto;
        }
    }
    #about_page .text_image + .text_block .in {
        padding-top: 30px;
    }

    .galery {
        .item {
            height: 300px;
        }
    }

    #why_are_we {
        main {
            .in {
                padding-top: 0px;
            }
        }
        .text_block.right_img {
            .in {
                padding-top: 30px;
            }
            .image {
                top: 63px;
            }
            .text {
                padding-top: 0px;
                min-height: auto;
            }
        }
    }
    #why_are_we main .text {
        min-height: auto;
    }
    #why_are_we .text_block .production .item {
        height: 300px;
    }
    #services_page {
        .advantages {
            .item {
                padding: 12px 5px 12px 15px;
                p {
                    line-height: 20px;
                    min-height: 80px;
                }
                .h3 {
                    margin-bottom: 8px;
                }
            }
        }
        #standards {
            .in {
                padding-top: 0px;
                margin-bottom: 10px;
            }
            .text {
                padding-top: 0px;
            }
        }
        #main_form2 + .text_block .in {
            padding-top: 50px;
        }
    }
    #projects_page {
        main{
            .in {
                padding-top: 0px;
            }
    
        }
        
        .text_block {
            .in {
                padding-top: 0px;
                padding-bottom: 10px;
            }
        }  
        #main_form2 {
            padding-top: 0px;
        } 
    }
}

@media screen and (max-width: 1300px) {	
    .right_img, .left_img {
        .image {
            top: -20px;
        }
        .text {
            padding-bottom: 20px;
        }
    }

    main.right_img {
        .image {
            top: 40px;
        }
    }
    .text_image.right_img, .text_image.left_img {
        .in {
            padding-top: 20px;
        }
        .text {
            padding-top: 10px;
        }

        .all_link {
            margin-bottom: 30px;
        }
    }
    .galery {
        .item {
            height: 250px;
        }
    }
    
    .text .right + p, .text .left + p {
        padding-top: 0px;
    }
    .text {
        .right {
            margin: 0 0 70px 30px;
        }
        .left {
            margin: 0 30px 70px 0;
        }
    }
    #why_are_we .text_block.right_img .in {
        padding-top: 0px;
    }
    #why_are_we .text_block .production .item {
        height: 250px;
    }
    #why_are_we #projects .projects + .buttons {
        margin-bottom: 50px;
    }
    #directions_in main {
        .in {
            padding-top: 0px;
        }
        &.right_img .image {
            top: -50px; 
        }
        .button {
            margin-top: 30px;
        }
    }
    #services_page {
        .text_image.right_img, .text_image.left_img  {
            .button {
                margin-top: 30px;
            }
        }
        #standards + .main_section {
            .h1 {
                max-width: 550px;
                margin-left: auto;
                margin-right: auto;
            }
        } 
    }
    #projects_page {
        main{
            .image {
                top: -20px;
            }
            .button {
                margin-top: 30px;
            }
            .text {
                min-height: auto;
            }
        }
        
    }
}

@media screen and (max-width: 1200px) {	
    .cont {
        font-size: 18px;
        line-height: 24px;
    }

    .social {
        padding-top: 0px;
        margin-bottom: 20px;
        a {
            margin: 0 15px 0 0;
        }
    }
    ul.advantages_list {
        margin-bottom: 0;
        li {
            font-size: 21px;
            line-height: 26px;
        }
    }
    .text_image.right_img, .text_image.left_img {
        h3 {
            font-size: 21px;
        }
    }
    #why_are_we .text_block .production .item {
        width: calc(50% - 31px);
    }
}

@media screen and (max-width: 1000px) {	
    .cont {
        padding-left: 32px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 20px;
        text-align: left;
    }

    .social {
        padding-top: 0px;
        margin-bottom: 20px;
        a {
            margin: 0 15px 0 0;

            img {
                width: 40px;
            }
        }
    }

    .right_img, .left_img {
        .image {
            top: 0px;
        }
        .button {
            margin-top: 10px;
        }
    }
    #about_page .text_image + .text_block .in {
        padding-top: 0px;
    }

    .right_img.no-text, .left_img.no-text {
        .in {
            padding-top: 0px;
        }
    } 

    .galery {
        .slick-list {
            margin: 0 -15px 30px;
        }
    }
    #map {
        width: auto;
        height: 340px;
        margin: 0 0 30px 0px;
        float: none;
    }
    
    #contacts_page {
        .text {
            padding-top: 0px;
            float: none;
            max-width: none;
            padding-bottom: 30px;
            width: auto;
        }
        .cont.tel, .cont.mail {
           display: inline-block;
           margin-right: 30px;
        }
    }
    .text {
        h2 {
            margin-top: 30px;
        }
        .right {
            margin: 0 0 50px 30px;
        }
        .left {
            margin: 0 30px 50px 0;
        }
    }
    
    .tabs_container + .buttons {
        margin-bottom: 30px;
    } 
    #why_are_we main {
        .button {
            margin-top: 30px;
        }
    }
    #why_are_we #projects .projects {
        margin-bottom: 30px;
    }
    #why_are_we #projects .in {
        padding-top: 50px;
    }
    #directions_in main.right_img .image {
        top: -10px;
    }
    #services_page {
        .advantages {
            padding-top: 0px;

            .item {
                margin-bottom: 20px;
                width: calc(55% - 32px);

                &:nth-child(2n+1) {
                    width: calc(45% - 32px);
                }
                p {
                    min-height: 60px;
                }
            }
        }
        .text_image.right_img, .text_image.left_img  {
            .text {
                padding-bottom: 30px;
            }
        } 
    }
    #projects_page {
        main{
            .image {
                top: 20px;
                left: 50px;
            }
            .button {
                margin-top: 10px;
            }
    
        }
        
    }
    .basket_table {
        margin-bottom: 20px;

        th {
            font-size: 18px;
            height: auto;
        }
        td {
            padding: 20px;
        }
    
        p {
            font-size: 16px;
            line-height: 24px;
        }
    }
    .basket_table + .buttons {
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 800px) {
    .images_slider {
        float: none;
        width: 100%;
        .main_img {
            height: 345px;
        }
    }
    .right_img, .left_img {
        ul.advantages_list {
            li {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 10px;
            }
        }
    }
    .text {
        .right {
            margin: 0 0 30px 20px;
        }
        .left {
            margin: 0 20px 30px 0;
        }
    }
    #why_are_we .advantages {
        margin-bottom: 30px;
    }
    #why_are_we .text_block .production .item {
        margin: 0 6px 20px 10px;
    }
    #why_are_we .text_block .production {
        margin: 0px -10px 20px;
    }
    #why_are_we #projects .projects + .buttons {
        margin-bottom: 30px;
    }
    #why_are_we #projects .projects {
        margin-bottom: 10px;
    }
    #directions_in main {
        .button {
            margin-top: 10px;
        }
    }
    #directions_in main.right_img .image {
        top: 20px;
    }

    #services_page {
        .text_image.right_img, .text_image.left_img  {
            .text {
                padding-bottom: 0px;
            }
            .button {
                margin-top: 20px;
            }
            .all_link {
                margin-bottom: 10px;
            }
        } 
    }
    .basket_table {
        th {
            font-size: 16px;
            padding: 20px 15px;
        }
        td {
            padding: 15px;
        }
    
        p {
            font-size: 14px;
            line-height: 20px;
        }
        .img a {
            width: 100px;
            height: 80px;
            line-height: 80px;
        }
    }
}

@media screen and (max-width: 700px) {
    .social {
        margin-bottom: 10px;
        a {
            margin: 0 10px;

            img {
                width: 30px;
            }
        }
    }
    .right_img, .left_img {
        .advantages_list {
            margin-right: -100%;
            padding-top: 10px;
        }
    }
}

@media screen and (max-width: 600px) {
    .images_slider {
        float: none;
        width: 100%;
        .main_img {
            height: 245px;
        }
        .small_images {
            height: 100px;
            .img_small {
                height: 100px;
            }
        }
    }

    .right_img, .left_img {
        .image {
            display: none;
        }
        .text {
            margin-right: 0;
            padding-bottom: 0px;
        }
        ul.advantages_list {
            margin-right: 0;
            li {
                font-size: 16px;
                line-height: 22px;
                margin-bottom: 10px;
                padding: 5px 25px;
            }
        }
    }
    .text_image.right_img, .text_image.left_img {
        .in {
            padding-top: 0px;
        }
        .text {
            padding-top: 0px;
            padding-bottom: 0;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 20px;
        }
    }
    .text_image.right_img {
        .text {
            margin-right: 0;
        }
    }
    .text_image.left_img {
        .text {
            margin-left: 0;
        }
    }
    .right_img.no-text, .left_img.no-text {
        .in {
            .text {
                min-height: auto;
            }
        }
    } 

    #map {
        height: 240px;
    }

    #news_page main .text {
        min-height: auto;
    }
    #why_are_we main {
        .text {
            margin-right: 0;
        }
        .button {
            margin-top: 10px;
        }
    }
    #why_are_we #projects .in {
        padding-top: 30px;
    }
    #why_are_we .tabs_container {
        margin-top: 0px;
    }

    #services_page {
        main h1 {
            margin-right: 0;
        }
        #main_form2 + .text_block .in {
            padding-top: 20px;
        }
    }
}
@media screen and (max-width: 500px) {
    #services_page {
        .advantages {
            .item {
                width: auto;
                display: block;

                &:nth-child(2n+1) {
                    width: auto;
                }
                p {
                    min-height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .cont {
        padding-left: 25px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
        background-size: 18px auto;
    }
    .images_slider {
        margin-bottom: 10px;
        .small_images {
            display: none;
        }
    }
    ul.advantages_list {
        columns: 1;
        li {
            display: block;
        }
    }
    .right_img, .left_img {
        .button {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .galery {
        .slick-list {
            margin: 0 -5px 30px;
        }
        .item {
            height: 180px;
        }
    }

    .text {
        .right, .left {
            margin: 0 0 30px 00px;
            float: none;
            max-width: 100%;
            width: 100%;
        }
    }
    #why_are_we .text_block .production .item {
        width: calc(100% - 20px)
    }
    #why_are_we #projects .projects {
        margin-bottom: 0px;
    }

}

.attribute_selection {
    padding-top: 32px;
    .attr {
        display: inline-block;
        vertical-align: top;
        border-radius: 5px;
        border: 1px solid #DFEDEE;
        overflow: hidden;
        width: 108px;
        height: 108px;
        margin-right: 10px;
        box-sizing: border-box;
        cursor: pointer;
        position: relative;
        @include transition(all);

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        &.active, &:hover {
            border-color: rgba(0, 79, 50, 0.7);
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }
}


/* end content styles */
