/* start footer styles */

#pre_foo {
    display: table-row;
    height: 100%;
}


footer {
    width: 100%;
    position: relative;
    z-index: auto;
    box-sizing: border-box;
    clear: both;
    
    &:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: auto;
		width: 710/1920*100%;
		height: 600px;
		background: url(images/bg_footer.jpg) left bottom no-repeat;
    	background-size: 100% auto; //cover;
    }
    

    .in { 
		padding-top: 28px;
		z-index: 3;
        
        &:after { 
            @include clear();
        }
        
    }
    
    a {
		color: $color_text;
    }
    .foo_left {
		float: left;
		width: 555/1530*100%;
		max-width: 360px;
	}
	.foo_right {
		float: right;
		width: 555/1530*100%;
		max-width: 360px;
	}
	
	.foo_bottom {
		clear: both;
		padding-top: 56px;
    }
    
    
    .foo_logo {
		margin-bottom: 35px;
		//width: 100%;
		max-width: 230px;
		
		img {
			width: 100%;
		}
	}
    
    .tel {
		background-image: url(images/icon_tel_black.png);
    }
        
    .address {
		background-image: url(images/icon_address_black.png);
	}
	.mail {
		background-image: url(images/icon_mail_black.png);
	}
	
    
    .foo_menu {
		width: 420/1530*100%;
		position: relative;
		font-weight: 500;
		font-size: 18px;
		line-height: 30px;
		//letter-spacing: 0.5px;
		margin: 0 auto 0;
		padding-top: 38px;
		
		>ul {
			text-align: justify;
			margin-right: -69px;

			li {
				display: inline-block;
				vertical-align: top;
				width: 35%;
				margin: 0 0 40px;
			}

			&::after {
				display: inline-block;
				width: 99%;
				content: '';
			}
		}
	
    }
    .foo_text {
		p {
			line-height: 26px;
			margin-bottom: 38px;
		}
		
		.h5 {
			margin-bottom: 11px;
		}
	}
	
	.button {
		padding: 0 40px;
		height: 60px;
		font-size: 20px;
		line-height: 60px;
		border-radius: 35px;
		letter-spacing: 0.3px;
		margin-bottom: 40px;
	}

	#dev {
		float: right;
	}
    
    #copy {
		padding: 11px 30px 27px 0;
		min-height: 45px;
		font-size: 18px;
		line-height: 30px;
    }
    
}


@media screen and (max-width: 1600px) {
    footer {
		.foo_menu {
			> ul {
				margin-right: 0px;
			}
		}
    }
}

@media screen and (max-width: 1300px) {
    footer {
		.foo_logo {
			max-width: 210px;
		}
		.foo_menu {
			padding-top: 0px;
			width: 120px;
			> ul {
				li {
					display: block;
					width: auto;
					margin: 0 0 15px;
				}
			}
		}
		.foo_bottom {
			padding-top: 20px;
		}
		.button {
			padding: 0 30px;
			height: 50px;
			font-size: 18px;
			line-height: 50px;
			letter-spacing: 0.2px;
			margin-bottom: 30px;
		}
    }
}

@media screen and (max-width: 1000px) {
    footer {
		.foo_logo {
			margin-bottom: 20px;
			max-width: 190px;
		}
		.foo_text p {
			line-height: 20px;
			margin-bottom: 25px;
		}
		.foo_menu {
			display: none;
		}
		.foo_left, .foo_right {
			width: 48%;
			max-width: 360px;
		}

		.button {
			padding: 0 20px;
			height: 40px;
			font-size: 16px;
			line-height: 40px;
			letter-spacing: 0.1px;
			margin-bottom: 30px;
		}
    }
}

// @media screen and (max-width: 900px) {
//     footer {

//     }
// }

@media screen and (max-width: 700px) {
    footer {
		.foo_logo {
			float: left;
			max-width: 170px;
		}
		.foo_left, .foo_right {
			width: auto;
			margin: 0 auto 20px;
			max-width: none;
			float: none;
			text-align: center;
		}
		.cont {
			display: inline-block;
			margin: 0 10px 20px;
		}

		.foo_text {
			float: right;
			padding-top: 15px;
			p {
				display: none;
			}
		}
		#copy {
			padding: 15px 10px 27px 0;
			min-height: 45px;
			font-size: 16px;
			line-height: 22px;
		} 
		#dev {
			img {
				width: 200px;
			}
		}
    }
}
@media screen and (max-width: 500px) {
	footer {
		.foo_logo {
			max-width: 130px;
		}
		.foo_bottom {
			padding-top: 0px;
			text-align: center;
		}
		#copy, #dev {
			float: none;
			//display: inline-block;
			padding: 0;
			margin: 0 0 20px;
		} 
		footer .foo_text {
			padding-top: 8px;
		}
		.button {
			font-size: 14px;
			letter-spacing: 0px;
			margin-bottom: 20px;
			padding: 0 15px;
		}
	}
}
// @media screen and (max-width: 450px) {
// 	footer {

// 	}
// }



/* end footer styles */