/* start header styles */

#logo {
	margin: 0 70px 25px 0;
	float: left;
	font-size: 55px;
	line-height: 55px;
	//color: #fff;
	position: relative;
	z-index: 10;
	@include transition_slow(all);
	
	a {
	    @include transition(opacity);
	}
        
        a:hover {
            opacity: 0.9;
        }
	
	img {
	    max-width: 100%;
	}
}

#index #header {
	position: absolute;
	top: 0;
	left: 0;
}

#header {
    width: 100%;
    position: relative;
    color: #fff;
    z-index: 3;
    padding-bottom: 1px;
    @include transition(all);
	
    
    // &:before {
	// content: '';
	// position: absolute;
	// left: 0;
	// top: 0;
	// width: 100%;
	// height: 100%;
	// //opacity: 0;
	// @include transition_slow(all);
	// background-color: rgba(33, 34, 37, 0.65);
	// //background: -webkit-linear-gradient(-90deg, rgba(33, 34, 37, 1) 40%, transparent 77%); /* для webkit-браузеров */
	// //background: -moz-linear-gradient(-90deg, rgba(33, 34, 37, 1) 40%, transparent 77%); /* для firefox 3.6+ */
	// //background: -o-linear-gradient(-90deg, rgba(33, 34, 37, 1) 40%, transparent 77%); /* для Opera 11.10+ */
	// //background: -ms-linear-gradient(-90deg, rgba(33, 34, 37, 1) 40%, transparent 77%); /* для IE10+ */
	// //background: linear-gradient(180deg, rgba(33, 34, 37, 1) 40%, transparent 77%);
    // }

    .in {
		z-index: 1;
		//max-width: 1698px;
		//padding: 11px 100px 0;
		padding-top: 15px;
    }


    nav {
		clear: both;
		margin: 0 auto;
		padding: 0;
		@include transition(all);
		position: relative;
		
		&:hover {
			overflow: visible;
		}
    }
}  
#search {
    //float: left;
    display: inline-block;
	width: 23.7%;
    height: 30px;
    //margin-right: 60px;
    //margin-bottom: 11px;
    position: relative;
	margin-top: 30px;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	border-radius: 3px;
    
    
    
    input[type=text] {
		background: none;
		border: 1px solid transparent;
		color: #333333;
		font-family: $font_family_os;
		font-size: 15px;
		line-height: 20px;
		height: 30px;
		box-sizing: border-box;
		position: relative;
		z-index: 3;
		padding: 5px 0;
		width: 85%;
		vertical-align: top;
		@include transition(all);

		&::placeholder {
			color: #E0E0E0;
		}
	    
	// &:focus {
	//     z-index: 1;
	//     //width: 260px;
	//     padding-right: 50px;
	//     margin-right: -60px;
	//     color: #fff;
	// }
    }
    
    input[type=submit] {
        border: 0;
        color: transparent;
        height: 30px;
        width: 30px;
        background: url(images/icon_loupe.png) center no-repeat;
        position: relative;
        z-index: 2;
        vertical-align: top;
		cursor: pointer;
		margin-left: 9px;
		margin-right: -2px;
    }
}

#basket {
	float: right;
	margin-top: 28px;
	margin-left: 56px;
}

#header_cont  {
    float: right;
	margin: 35px 0 15px -10px;
    position: relative;
    z-index: 3;
	font-size: 22px;
	line-height: 30px;
    display: flex;
    justify-content: space-between; 
    //letter-spacing: 0.4px;
    
    a {
        color: $color_text;
		display: inline-block;
        text-decoration: none;
        padding-left: 31px;
		height: 21px;
		background: left top no-repeat;
		margin-left: 42px;
		padding-bottom: 2px;
        
        &:hover {
			text-decoration: underline;
		}
    }
    
    .tel {
        background-image: url(images/icon_tel_red.png)
	}
	.mail {
		background-image: url(images/icon_mail_red1.png);
		background-position: left 2px;
		padding-left: 37px;
		margin-left: 50px;
    }
}

.menu_button_mob {
    display: none;
}
.main_menu>ul {
    position: relative;
    padding: 2px 0px 0px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 0%;
    //display: flex;
    //justify-content: space-between;
        
    >li {
        margin-right: 4.3%;
        position: relative;
        display: inline-block;
        vertical-align: top;
    	padding: 0px;
    	overflow: hidden;
    	line-height: 150%;
    	letter-spacing: 0px;
	
		&:hover {
			overflow: visible;
		}
	}
	
	.catalog {

		a::before {
			content: "";
			display: inline-block;
			vertical-align: 0px;
			margin-right: 7px;
			width: 15px;
			height: 13px;
			background: linear-gradient($color_a 2px, transparent 3px);
			background-size:100% 5px;
		}
	}
    
    a {
		display: inline-block;
    	position: relative;
    	z-index: 2;
    	text-decoration: none;
    	color: $color_text;
    	//@include transition(all);
    	vertical-align: middle;
		padding: 3px 10px 3px 0px;
		
		&:hover  {
			text-decoration: underline;
		}
    }
        
    li.submenu {
		> a:after {
    	    content: "";
    	    display: inline-block;
    	    width: 7px;
    	    height: 7px;
    	    z-index: 0;
			margin-left: 10px;
			vertical-align: 3px;
    	    //border-top: 6px solid red;
    	    border-left: 3px solid $color_a;
			border-bottom: 3px solid $color_a;
			border-radius: 3px;
			transform: rotate(-45deg);	    
	    	@include transition(all);
		} 
		&:hover {
			> a {
				&:after {
					transform: rotate(135deg);
					vertical-align: -1 px;
				}
	    	}
		}
	
		&:before {
			position: absolute;
			width: 100%;
			height: 50px;
			top: 20px;
			left: 0;
			z-index: 0;
			content: "";
		}
    }

    ul {
		position: absolute;
		width: 340px;
		padding: 0;
		box-sizing: border-box;
		left: 0px;
		top: 47px;
		opacity: 0;
		@include transition(all);
		//font-family: $font_family_alt;
		font-size: 14px;
		line-height: 17px;
		font-weight: 300;
		letter-spacing: 0;
		z-index: 1;
		background-color: #fff;
		// background: -webkit-linear-gradient(133deg, #ebebeb, #ffffff); /* для webkit-браузеров */
		// background: -moz-linear-gradient(133deg, #ebebeb, #ffffff); /* для firefox 3.6+ */
		// background: -o-linear-gradient(133deg, #ebebeb, #ffffff); /* для Opera 11.10+ */
		// background: -ms-linear-gradient(133deg, #ebebeb 40%, #ffffff); /* для IE10+ */
		// background: linear-gradient(-47deg, #ebebeb, #ffffff);
		text-align: left;
		overflow: hidden;
		//outline: 1px solid red;
		box-shadow: 0 2px 35px rgba(0, 0, 0, 0.3);
		border-radius: 3px;
		
		>li {
			display: block;
			padding: 1px;
			position: relative;
			//border-top: 1px solid #252525;
			
			// &:first-child {
			// 	border-top: 0;
			// }

			&:hover {
				background-color: #fff;
				background: -webkit-linear-gradient(0deg, #01b486, #99ef04); /* для webkit-браузеров */
				background: -moz-linear-gradient(0deg, #01b486, #99ef04); /* для firefox 3.6+ */
				background: -o-linear-gradient(0deg, #01b486, #99ef04); /* для Opera 11.10+ */
				background: -ms-linear-gradient(0deg, #01b486 40%, #99ef04); /* для IE10+ */
				background: linear-gradient(90deg, #01b486, #99ef04);
			}
		}
		a {
			display: block;
			padding: 20px 20px 18px;
			position: relative;
			z-index: 1;
			color: #000;
			border-bottom: 0;
			background-color: #fff;
		}
	
		.active a, a.active, a:hover  {
			text-decoration: underline;
			//color: $color_a_hover;
			border-bottom: 0;
			
			&:before {
				display: none;
			}
		}
    }
    
    > li:hover {
		overflow: visible;
		z-index: 3;
		ul {
			opacity: 1;
		}
    }
    
    .mob {
		display: none;
    }
}

@media screen and (max-width: 1700px) {	
	#logo {
		margin: 0 10px 15px 0;
	}

	#header .in {
		text-align: right;
	}
	
	#search {
		width: 625px;
		margin-top: 10px;
		text-align: left;
		//margin-bottom: 15px;
		//float: right;
		//clear: right;	
	}

	#header_cont, #basket {
		margin-top: 8px;
		margin-bottom: 12px;
	}
	
	#header_cont {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 15px;
		//padding-top: 2px;
		clear: right;
		a {
			padding-top: 2px;
		}
	}
	.main_menu {
		text-align: left;
		> ul {
			text-align: justify;
			&::after {
				content: '';
				display: inline-block;
				width: 95%;
			}
			> li {
				margin-right: 0%;
			}
		}
	}
}

@media screen and (max-width: 1350px) {
	#header_cont {
		font-size: 18px;
		line-height: 23px;
		a {
			padding-top: 3px;
			margin-left: 25px;
		}
		.mail {
			margin-left: 25px;
		}
	}	
	#basket {
		margin-left: 25px;
		padding-top: 4px;
	}
	#search {
		width: 560px;
	}
}

@media screen and (max-width: 1000px) {	
    #logo {
		width: 160px;
		//padding-top: 10px;
    }
    #header {
		height: 70px;
		.in {
			padding: 11px 30px;
		}
		
		nav {
			right: 30px;
			top: 24px;
			width: 20px;
			height: 15px;
			position: absolute;
			margin: 0;
			border-top: 2px solid $color_a;
		}
	}
	#basket {
		margin-right: 35px;
		margin-left: 20px;
		margin-bottom: 5px;
		padding-top: 0;
	}
    #header_cont {
		font-size: 15px;
		line-height: 23px;
		padding-top: 3px;
		margin-bottom: 5px;
		a {
			padding-top: 0px;
			margin-left: 20px;
			background-size: auto 15px;
			background-position: left 3px;
			padding-left: 20px;
		}
		.mail {
			margin-left: 20px;
			background-size: 19px auto;
			background-position: left 5px;
			padding-left: 23px;
		}
	}
    #search {
		margin-bottom: 0;
		margin-top: 5px;
		width: 410px;
    }
    
    .menu_button {
		height: 14px;
		border-bottom: 2px solid $color_a;
		display: block;
		width: 20px;
		position: absolute;
		z-index: 6;
		top: -2px;
		left: 0%;
		cursor: pointer;
		outline: none;
		@include transition(all);
	
		&:after {
			content: '';
			position: absolute;
			z-index: 2;
			height: 2px;
			width: 20px;
			top: 7px;
			left: 0;
			background-color: $color_a;
		}
		&:before {
			content: '';
			position: fixed;
			left: 0px;
			top: 0px;
			width: 0px;
			height: 0px;
			z-index: 1;
			//display: none;
		}
		&.active {
			transform: rotate(45deg);
			top: -6px;
			left: 4px;
			&::before {
				//display: block;
				width: 100%;
				height: 100%;
			}

			&:after {
				transform: rotate(90deg);
				top: 14px;
			}
		}
	
    }
    
    .main_menu {
		position: fixed;
		z-index: 5;
		width: 305px;
		right: -100%;
		//right: 0;;
		//margin-top: 0px;
		top: 0px;
		padding: 50px 0px 1px;
		box-shadow: 0 2px 35px rgba(0, 0, 0, 0.3);
		height: calc(100% );
		overflow: hidden;
		display: block;
		font-weight: 300;
		box-sizing: border-box;
		
		background-color: #fff;
		// background-image: -webkit-linear-gradient(70deg, rgba(12, 12, 13, 0.31) 0%, rgba(49, 43, 46, 0.31) 50%, rgba(12, 12, 13, 0.31) 100%); /* для webkit-браузеров */
		// background-image: -moz-linear-gradient(70deg, rgba(12, 12, 13, 0.31) 0%, rgba(49, 43, 46, 0.31) 50%, rgba(12, 12, 13, 0.31) 100%); /* для firefox 3.6+ */
		// background-image: -o-linear-gradient(70deg, rgba(12, 12, 13, 0.31) 0%, rgba(49, 43, 46, 0.31) 50%, rgba(12, 12, 13, 0.31) 100%); /* для Opera 11.10+ */
		// background-image: -ms-linear-gradient(70deg, rgba(12, 12, 13, 0.31) 0%, rgba(49, 43, 46, 0.31) 50%, rgba(12, 12, 13, 0.31) 100%); /* для IE10+ */
		// background-image: linear-gradient(-160deg, rgba(12, 12, 13, 0.31) 0%, rgba(49, 43, 46, 0.31) 50%, rgba(12, 12, 13, 0.31) 100%);
		
		@include transition_slow(all);
		
		&.show {
			right: 0;
			//display: block;
		}
		
		>ul {
			display: block;
			//border-top: 2px solid red;
			overflow: auto;
			max-height: calc(100% - 10px);
			padding-top: 0;
		
			li {
				display: block;
				height: auto;
				padding: 2px;
				//margin-bottom: 5px;
				text-align: left;
				border-radius: 5px;
				>a {
					background-color: #fff;
					padding: 10px 30px;
					border-radius: 5px;
				}
			}
			
			.active  {
				
					background-color: #fff;
					background: -webkit-linear-gradient(0deg, #01b486, #99ef04); /* для webkit-браузеров */
					background: -moz-linear-gradient(0deg, #01b486, #99ef04); /* для firefox 3.6+ */
					background: -o-linear-gradient(0deg, #01b486, #99ef04); /* для Opera 11.10+ */
					background: -ms-linear-gradient(0deg, #01b486 40%, #99ef04); /* для IE10+ */
					background: linear-gradient(90deg, #01b486, #99ef04);
					>a {
						border-radius: 5px 5px 0 0;
					}
			}
			
			
			//li.submenu > a:after {
			//display: none;
			//}
			
			
			.mob {
			display: block;
			
			.modal {
				padding-bottom: 0;
				padding-left: 0;
				padding-right: 0;
				border-bottom: 1px solid #fff;
				margin-left: 5px;
				display: inline-block;
			}
			
			.tel {
				padding-top: 5px;
				font-weight: 700;
			}
			}
			
			a {
			display: block;
			padding: 5px 5px 5px;
			
			&:before {
				display: block;
				//opacity: 0;
			}
			
			&:hover {
			border-bottom-color: transparent;
			}
			}
		
		}
		li ul {
			box-shadow: none;
			position: relative;
			background-color: #fff;
			top:-2px;
			width: 100%;
			opacity: 1;
			display: none;
			//height: 0;
			transition: none ;
		}
    }
}

@media screen and (max-width: 800px) {
    #logo {
		width: 140px;
    }
    #header {
		.in {
			padding: 10px 20px;
		}
		nav {
			right: 20px;
			top: 17px;
		}
	}

	#basket {
		margin-top: 2px;
		margin-bottom: 10px;
	}
	
	#search {
		margin-top: 0px;
		width: 325px;
	}
    
    #header_cont {
		font-size: 12px;
		line-height: 20px;
		padding-top: 0px;

		a {
			margin-left: 15px;
		}
	}
	.main_menu {
		padding: 50px 0px 1px;
		width: 265px;
	}
}

@media screen and (max-width: 600px) {
    #logo {
		width: 120px;
		margin-right: 0;
    }
    
    #header {
		height: 50px;
		.in {
			padding: 10px;
		}
		nav {
			right: 10px;
			top: 14px;
		}
    }
    #header_cont {
		margin-top: 5px;
		display: block;
		a {
			margin-left: 10px;
			background-position: left top;
			vertical-align: bottom;

			&:nth-child(1) {
				margin-left: 0;
			}
		}
		.mail {
			width: 0px;
			overflow: hidden;
			background-size: 23px auto;
			margin-left: 10px;
			background-position: left top;
		}
	}
	
	#search {
		margin-top: 0px;
		width: 210px;

		input[type=text] {
			width: 75%;
		}
	}
    .main_menu {
		padding: 49px 20px 1px 11px;
		width: 245px;
    }
}

@media screen and (max-width: 450px) {
    
    #header_cont {
		margin-top: 5px;
		display: block;
		float: right;
		clear: none;
		a {
			background-size: 20px auto;
			vertical-align: top;
			overflow: hidden;
			width: 0;
			margin-top: -2px;
			&:nth-child(2) {
				display: none;
			}
		}
		.mail {
			margin-top: 0;
			margin-left: 15px;
		}
	}
	#search {
		
		float: right;
		clear: right;
		width: calc(100% - 130px);
	}
}

@media screen and (max-width: 330px) {
	#logo {
		width: 90px;
		margin-bottom: 0;
		line-height: inherit;
		font-size: 30px;
		margin-top: -5px;
	}
	#search {
		float: none;
		clear: both;
		width: 100%;
	}
}

/* end header styles */
