/* start main screen styles */ 

#main_screen {
    overflow: visible;
    background: #fff url(images/bg_main_screen.jpg) no-repeat center / cover;
    height: 887px;
    @include transition(all);
    
    .in {
		height: 100%;
		padding-top: 330px;
    }
    
    
    .image {
		position: absolute;
		width: 614/1546*100%;
		top: 312/941*100%;
		left: 23px;
		@include transition(all);
		
		img {
			max-width: 100%;
		}
    }
    .text {
		width: 45%;
		position: relative;
		padding-bottom: 1px;
		z-index: 2;
		@include transition(all);
    }
    h2 {
		letter-spacing: 0.04em;
		font-size: 40px;
		line-height: 45px;         
		max-width: 1000px;
		margin-bottom: 10px;
		font-weight: 900;
		text-transform: uppercase;
		text-align: left;
		//@include transition_slow(all);
    }
    
    .button {
	min-width: 173px;
	margin-bottom: 72px;
    }
    
    p {
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 40px;
    }
    
}




@media screen and (max-width: 1600px) {
    #main_screen {
		.text {
			width: 50%;
		}
		h2 {
			font-size: 35px;
			line-height: 42px;         
		}
		p {
			font-size: 18px;
			line-height: 28px;
		}
	}
}
@media screen and (max-width: 1365px) {
    #main_screen {
		height: 730px;
		.in {
			padding-top: 280px;
		}
		.text {
			width: 60%;
		}
	}
}

@media screen and (max-width: 1000px) {
	#main_screen {
		height: 600px;
		.in {
			padding-top: 150px;
		}
		h2 {
			font-size: 30px;
			line-height: 38px;         
		}
		p {
			font-size: 16px;
			line-height: 25px;
			margin-bottom: 40px;
		}
		.button {
			min-width: auto;
			width: auto;
			margin-bottom: 30px;
		}
	}
}

@media screen and (max-width: 800px) {
	#main_screen {
		height: 500px;
		.in {
			padding-top: 150px;
		}
		h2 {
			font-size: 24px;
			line-height: 32px;         
		}
		p {
			font-size: 14px;
			line-height: 19px;
			margin-bottom: 30px;
		}
	}
}
@media screen and (max-width: 600px) {
    #main_screen {
		height: 430px;
		.in {
			padding-top: 100px;
		}
		.text {
			width: 60%;
		}
		h2 {
			font-size: 18px;
			line-height: 28px; 
			letter-spacing: 0px;        
		}
		p {
			margin-bottom: 20px;
		}
	}
}

@media screen and (max-width: 450px) {
    #main_screen {
		height: 350px;
		.in {
			padding-top: 100px;
		}
		.text {
			width: 60%;
		}
		h2 {
			font-size: 14px;
			line-height: 24px;         
		}
		p {
			display: none;
		}
	}
}

/* end main screen styles */