/* start news styles */ 

#news {
    overflow: visible;
    z-index: 1;
    padding-bottom: 105px;
    padding-top: 45px;
    background:  url(images/bg_news.jpg) no-repeat center center;
    background-size: 100% auto;
    //opacity: 0.5;

    h2 {
        margin-bottom: 20px;
        top: -4px;
    }
}

.news_block {
    position: relative;
    //margin: 0 -15px 47px -10px;
    //height: 496px;

    .slick-list {
        margin: 0 -15px;
    }

    .news_item {
        display: inline-block;
        position: relative;
        vertical-align: top;
        width: calc(25% - 30px);
        margin: 0 11px 30px 15px;
        box-sizing: border-box;
        padding: 30px;
        background: linear-gradient(144.03deg, #0A88BE 0%, #6DEDF5 100%);
        border-radius: 5px;
        height: 455px;
        @include transition(all);

        &::before {
            content: '';
            position: absolute;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 2px;
            left: 2px;
            background-color: #fff;
            opacity: 1;
            @include transition(all);
        }

        .img {
            position: relative;
            z-index: 2;
            height: 200px;
            border-radius: 5px;
            overflow: hidden;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                vertical-align: top;
            }
        }

        .text {
            position: relative;
            z-index: 2;
        }

        a {
            color: $color_text;
            @include transition(all);
        }

        h5 {
            //line-height: 25px;
            margin-bottom: 10px;
            max-height: 50px;
            overflow: hidden;
        }

        p {
            font-size: 14px;
            line-height: 24px;
            max-height: 95px;
            overflow: hidden;
            @include transition(all);
        }

        .more {
            position: absolute;
            bottom: 30px;
            right: 26px;
            background: #1492C8;
            border-radius: 5px;
            width: 60px;
            height: 30px;
            color: transparent !important;
            opacity: 0;
            @include transition(all);

            &:before {
                content: "";
                position: absolute;
                z-index: 2;
                width: 8px;
                height: 8px;
                top: 10px;
                left: 29px;
                border-top: 2px solid #fff;
                border-left: 2px solid #fff;
                transform: rotate(135deg);
            }

            &:after {
                content: "";
                position: absolute;
                z-index: 2;
                width: 20px;
                height: 0px;
                top: 14px;
                left: 20px;
                border-top: 2px solid #fff;
            }
        }

        &:hover {
            height: 496px;
            margin-bottom: -11px;
            z-index: 2;

            &::before {
                opacity: 0;
            }

            a, p {
                color: #fff;
            }
            .more {
                opacity: 1;
            }
        }
    }
}


#news_page {
    .news_block {
        margin-bottom: 26px;
    }    
}



@media screen and (max-width: 1600px) {
    #news {
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 1301px) {
    .news_block {
        margin: 0 -15px 47px -15px;
    }
}
@media screen and (max-width: 1400px) {
    .news_block {
        .news_item {
            width: calc(33.33% - 30px);
        }
    }
}
@media screen and (max-width: 1300px) {
    #news {
        padding-bottom: 0px;
        .news_block {
            padding-top: 15px;
            padding-top: 15px;
            margin-bottom: 40px;
            .slick-list {
                padding-bottom: 10px;
            }
        }
        .news_item {
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    #news_page .news_block {
        margin: 0 -15px 10px -15px;
    }
}
@media screen and (max-width: 1200px) {
    .news_block {
        .news_item {
            height: 420px;
            &:hover {
                height: 460px;
            }
            .img {
                height: 180px;
            }
            h5 {
                margin-bottom: 5px;
                max-height: 45px;
            }
            p {
                line-height: 20px;
                max-height: 98px;
            }
        } 

    }
}

@media screen and (max-width: 900px) {
    .news_block {
        .news_item {
            width: calc(50% - 30px);
        }
    }
}

@media screen and (max-width: 800px) {
    .news_block {
        .news_item {
            padding: 20px;
            height: 390px;
            &:hover {
                height: 430px;
            }
            .img {
                margin-bottom: 20px;
            }
        } 
    }
}
@media screen and (max-width: 700px) {
    .news_block {
        .news_item {
            height: 360px;
            &:hover {
                height: 400px;
            }
            .img {
                height: 150px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    #news_page  {
        .news_block {
            margin: 0 -10px 0px -10px;
        }
    }
    .news_block {
        .news_item {
            margin: 0 10px 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    #news_page .news_block {
        margin: 0;
    }
    .news_block {
        .news_item {
            width: 100%;
            margin: 0 0px 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .news_block {
        margin: 0 -5px 47px;
        .slick-list {
            margin: 0 -5px;
        }
        .news_item {
            height: 370px;
            &:hover {
                height: 410px;
            }
            .img {
                height: 160px;
            }
        } 
    }
}

/* end news styles */