/* start production styles */ 

#production {
    overflow: visible;
    z-index: 2;

    padding-bottom: 95px;

    h2 {
        margin-bottom: 20px;
    }
}

.production {
    position: relative;
    margin: 0 -20px 0px -15px;

    .slick-list {
        padding: 15px 0;
        margin: 0 -15px;
    }

    

    .item {
        position: relative;
        display: inline-block;
        vertical-align: top;
        top: 0;
        margin: 0 11px 30px 15px;
        border-radius: 5px;
        background-color: rgba(0, 79, 50, 0.7);
        //@include transition(top);
        width: calc(25% - 31px);
        border-radius: 5px;
        overflow: hidden;
        height: 360px;


        .bg {
            height: calc(100% - 70px);
            //background-color: red;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .h6 {
            vertical-align: middle;
            line-height: 60px;
            height: 70px;
            color: #fff;
            background: linear-gradient(101deg, #00B487 0%, #9DF100 100%);
            border-radius: 0px 0px 5px 5px;
            text-align: center;
            font-family: $font_family_os;
            margin-bottom: 0;

            b {
                display: inline-block;
                vertical-align: middle;
                line-height: 22px;
                max-width: 260px;
            }
        }

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            line-height: 660px;
            top: 0;
            left: 0;
            word-wrap: none;
            color: #fff;
            text-align: center;
            text-decoration: none;
            background-color: rgba(0, 79, 50, 0.7);
            opacity: 0;
            @include transition(all);


            span {
                display: inline-block;
                vertical-align: middle;
                font-size: 20px;
                line-height: 27px;
                border-bottom: 2px solid white;
            }

            &::after {
                content: '';
                width: 7px;
                height: 7px;
                display: inline-block;
                vertical-align: middle;
                margin-bottom: 2px;
                margin-left: 10px;
                border-top: 2px solid white;
                border-right: 2px solid white;
                transform: rotate(45deg);
            }

            &:hover {
                opacity: 1;
                line-height: 355px;
            }
            
        }
    }

    &.categories {
        padding-top: 50px;
        padding-bottom: 62px;

        .item {
            width: calc(33.33% - 31px);

            .h6 {
                font-size: 25px;

                b {
                    max-width: 340px;
                }
            }
        }
    }

}

#about_page {
    .production {
        .item {
            height: 271px;

            .h6 {
                font-size: 20px;
            }

            a {
                line-height: 360px;
    
    
                &:hover {
                    opacity: 1;
                    line-height: 271px;
                }
                
            }
        }
    }    
    
}


@media screen and (max-width: 1600px) {
    
}
@media screen and (max-width: 1400px) {
    
}

@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 800px) {
   
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}

/* end production styles */