/* start services styles */ 

#services {
    overflow: visible;
    z-index: 2;
    padding-bottom: 95px;
    min-height: 695px;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 995px;
        left: 0;
        z-index: 0;
        top: -155px;
        background: #fff url(images/bg_services.jpg) no-repeat center / 100% auto;
        //opacity: 0.5;
    }

    h2 {
        margin-bottom: 20px;
    }

    .all_link {
        float: none;
        margin-bottom: 20px;
        //display: inline-block;
        margin-top: 0;
    }

    .text {
        width: 58%;

        p {
            margin-bottom: 10px;
        }
    }

}

ul.strong {
    padding-top: 2px;
    margin-bottom: 58px;
    li {
        padding-top: 2px;
        font-size: 20px;
        line-height: 28px;
        font-family: $font_family_h;
        margin-bottom: 10px;
    }
}



@media screen and (max-width: 1600px) {
    
}
@media screen and (max-width: 1200px) {
    #services {
        min-height: 595px;
    
        &::before {
            height: 795px;
            left: 7%;
            top: -55px;
        }
    }
    ul.strong {
        padding-top: 0px;
        margin-bottom: 58px;
        li {
            font-size: 18px;
            line-height: 25px;
            margin-bottom: 7px;
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 800px) {
    #services {
        padding-bottom: 95px;
        min-height: 495px;
    
        &::before {
            height: 695px;
            top: 50px;
        }
    
        .text {
            width: auto;
        }

        ul.strong {
            max-width: 70%;
            margin-bottom: 30px;
            li {
                font-size: 16px;
                line-height: 21px;
            }
        }
    
    }
}
@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    #services {
        padding-bottom: 50px;
    
        &::before {
            display: none;
        }

        ul.strong {
            max-width: none;
        }
        .all_link {
            margin-bottom: 10px;
        }

        .button {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    
    }
}

/* end services styles */